<h1>Add member</h1>

    <form action="addrecord/" method="post">
    {% csrf_token %}
    First Name:<br>
    <input name="first">
    <br><br>
    Last Name:<br>
    <input name="last">
    <br><br>
    <input type="submit" value="Submit">
    </form>