<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>Detect réseaux</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'detect_reseaux_app/css/bootstrap.css' %}" type="text/css">
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="">Detect réseaux</a>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'acceuil' %}">Accueil</a>
                            </li>
                            {% if not user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'signin' %}">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
                            </li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'image_upload' %}">Upload image</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'ia' %}">Traitement ia</a>
                            </li>                           
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Se déconnecter</a>
                            </li>  
                         </ul>
                         <p class="nav text-right text-white">Logged in as {{user.username}}</p>
                         {% endif %}
                    </div>
                </div>
            </div>
		</nav>
        <br>
        <div class="container">
          <div class="row justify-content-center">
            {% block content %}{% endblock %}
          </div>
        </div>  
        <footer>
            <div class="container .bg-danger.bg-gradient">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>Copyright &copy; <a href="https://www.linkedin.com/in/thienvu-quach/" target="_blank">Quach Thienvu</a> pour <a href="https://auvergnerhonealpes.simplon.co/" target="_blank">Simplon</a></p>
                    </div>
                </div>
            </div>
        </footer>     
    </body
</html>