<!DOCTYPE html>
<html lang="fr">
    <head>
        {% extends "base.html" %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>Detect réseaux</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'detect_reseaux_app/css/bootstrap.css' %}" type="text/css">
    </head>
{% block content %}
  	<body>
		<h1>Traitement ia</h1>
		<div class="container">
            <div class="row">
                <div class="col-md-12 text-bg-danger p-3">
                    <p>Ici vous êtes sur la page pour le traitement IA</p><br>
                    <p>Vous avez un bouton ci dessous pour lancer le traitement</p>
					<p>Test pour gitlab 2</p>
                </div>
                <div class="=col-md-12 text-bg-primary p-3">
                    <form method='get' action='#'>
                        <input class="btn btn-light border border-secondary" type="submit" value="Traitement ia" name="Traitement ia"/>
                    </form>
                </div>
            </div>
        </div>
		<div class="container" style="overflow-x:auto;">
		<br><h2 class="text-center"><u>20 - Startups Table</u></h2><br>  
			<div class="row">
				<table class="table table-dark table-striped">
					<thead>
						<tr>
							<th>xmin</th>
							<th>ymin</th>
							<th>xmax</th>
							<th>ymax</th>
							<th>x_center</th>
							<th>y_center</th>
							<th>couleur</th>
							<th>confiance_couleur</th>
							<th>numero</th>
							<th>confidence_numero</th>
						</tr>
					</thead>
					<tbody>
						{% if data %}  
						{% for i in data %}
						<tr>
							<td>{{i.xmin}}</td>
							<td>{{i.ymin}}</td>
							<td>{{i.xmax}}</td>
							<td>{{i.ymax}}</td>
							<td>{{i.x_center}}</td>
							<td>{{i.y_center}}</td>
							<td>{{i.couleur}}</td>
							<td>{{i.confiance_couleur}}</td>
							<td>{{i.numero}}</td>
							<td>{{i.confidence_numero}}</td>
						</tr>
						{% endfor %}
						{% endif %}
					</tbody>
				</table> 
			</div>
		</div>
		<div class="container"><br> 
			<div class="row">
				{% for i in image %}
				<div class="col-sm-3">
					<img src="{{ i.image }}" class="img-responsive">
					<p>{{ i.label }}</p>
					<p>{{ i.score }}</p>
					<p>{{ i.numero }}</p>
					<p>{{ i.confidence_numero }}</p>
					<br>
				</div>
				{% endfor %}
			</div>
		</div>
  	</body>
{% endblock %}
</html>