<!DOCTYPE html>
<html lang="fr">
    <head>
        {% extends "base.html" %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>Detect réseaux</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'detect_reseaux_app/css/bootstrap.css' %}" type="text/css">
    </head>

{% block content %}
    <body>
        <h1>Upload image</h1>
        <div class="container">
        <br>
            <form method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-light border border-secondary">Upload</button>
            </form>
        <br>
        </div>   
        
        <div class="container">
            
            <div class="row">
                <div class="col-md-3 text-bg-primary p-3">col</div>
                <div class="col-md-3 text-bg-danger p-3">col</div>
                <div class="col-md-3 text-bg-primary p-3">col</div>
                <div class="col-md-3 text-bg-danger p-3">col</div>       
            </div>
            <br>
            <div class="row">
                <div class="col-8 text-bg-danger p-3">
                    <p>This is a  paragraph. The default text color was black, but I added a paragrah selector and defined the color property so it's navy.You'll see that the paragraph below is also navy, except for the link. Using a separate selector, the color of links has been changed to aqua.</p>
                </div>  
                <div class="col-4 text-bg-primary p-3">
                    <p>In addition to customizing the Sass, you can also create your own containers with our Sass mixin.</p>
                </div>
            </div>
            

        </div>
        
            
    
    </body>
{% endblock %}
