<!DOCTYPE html>
<html lang="fr">
    <head>
        {% extends "base.html" %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>Detect réseaux</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'detect_reseaux_app/css/bootstrap.css' %}" type="text/css">
    </head>

{% block content %}  
    <body>
        <h1>Traitement ia</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-bg-danger p-3">
                    <p>Ici vous êtes sur la page pour le traitement IA</p><br>
                    <p>Vous avez un bouton ci dessous pour lancer le traitement</p>
                    <p>Test pour gitlab</p>
                </div>
                <div class="=col-md-12 text-bg-primary p-3">
                    <form method='get' action='#'>
                        <input class="btn btn-light border border-secondary" type="submit" value="Traitement ia" name="Traitement ia"/>
                    </form>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
</html>